# Geral

Etherpad link: https://public.etherpad-mozilla.org/p/uvicecon

##### Repositório:

https: https://github.com/tpetrone/tera_aula_3.git

ssh: git@github.com:tpetrone/tera_aula_3.git

##### Git commands:
`git clone url`

`cd tera_aula_3`

`jupyter notebook`

# A linguagem Python

In [4]:
# isso eh um comentario
'''
fdsdfas
'''
#fsdjkhf

'\nfdsdfas\n'

fjksdljdfs
fklsjflskdj
klfdjs

In [5]:
# isso eh comentario

#### Anotações:

In [ ]:
# Playground

## Números e Variáveis

In [19]:
2 + 1

3

In [7]:
2 - 1

1

In [8]:
2 * 2

4

In [9]:
2 / 3

0.6666666666666666

In [10]:
2 // 3

0

In [11]:
2 ** 2

4

In [12]:
4 ** 0.5

2.0

In [13]:
2 + 10 * 10

102

In [14]:
(2 + 10) * 10

120

In [17]:
a=2*3
a

6

In [18]:
a = a ** a
a

46656

#### Anotações:

In [ ]:
# Playground

### Exercício

Crie um programa capaz de calcular uma equação do segundo grau dados seus conscientes como em:

$$
ax^2 + bx + c = 0
$$

Utilizando a fórmula de Báskara:

\begin{equation*}
x1, x2 = \frac{-b \pm \sqrt{b^2 - 4ac}}{2a}
\end{equation*}

Faça um programa para resolver a seguinte equação:
$$
x^2 + 3x - 4
$$

In [23]:
a = 1
b = 3
c = -4

delta = b ** 2 - (4*a*c)

x1 = (-b + delta ** 0.5) / 2*a
x2 = (-b - delta ** 0.5) / 2*a

print(x1)
print(x2)

1.0
-4.0

$x1 = 1.0$

$x2 = -4.0$

## Strings, Print e Print formatting

#### Anotações

Indexação através dos colchetes

In [24]:
# Playground
s = "hello"
s

'hello'

In [25]:
s = "Olá mundo!"
s

'Olá mundo!'

In [26]:
s[0]

'O'

In [27]:
s[1]

'l'

In [28]:
s[:]

'Olá mundo!'

In [29]:
s

'Olá mundo!'

In [30]:
s[1:]

'lá mundo!'

In [31]:
s[:4]

'Olá '

In [33]:
s[:-1]

'Olá mundo'

In [34]:
s[::2]

'Oámno'

In [35]:
s[2:-1:2]

'ámno'

In [49]:
s = 10 * "z"
s

'zzzzzzzzzz'

### Exercício:

A partir da string: "This blue rare crab". Use o recorte para separar em duas strings "This blue" e "rare crab". A partir dessas duas strings use a indexação para formar a string "Tera". Em seguida, salve em uma variável essa string de trás pra frente e por último exiba a string "Tera areT" usando print formatting.

In [53]:
# Declare a string "This blue rare crab"
s = "This blue rare crab"

# Recorte em duas strings
s1 = s[0:10]
print(s1)
s2 = s[10:20]
print(s2)

# Indexe para formar "Tera"
s3 = s1[0] + s[8] + s2[0] + s2[1]
print(s3)

# Salve em uma variável a string
# "Tera" de trás pra frente

s4 = s3[::-1]
print(s4)

# Use print format para exibir "areT Tera"
s5 = s3 + " " + s4 + " -> Felipe eh massa!"
print(s5)

print("A variável s5 é igual: {s5}".format(s5=s5))

len(s5)

This blue
rare crab
Tera
areT
Tera areT -> Felipe eh massa!
A variável s5 é igual: Tera areT -> Felipe eh massa!

29

## Lists e len()

#### Anotações

In [55]:
# Playground
l = [1,2,3,4,5,6]
l

[1, 2, 3, 4, 5, 6]

In [56]:
l = [1,2,3,4,'cinco']
l

[1, 2, 3, 4, 'cinco']

In [58]:
l[0]

1

In [59]:
l[-1]

'cinco'

In [63]:
l + [2]

[1, 2, 3, 4, 'cinco', 2]

In [64]:
l * 2

[1, 2, 3, 4, 'cinco', 1, 2, 3, 4, 'cinco']

In [67]:
l = [1,2,3,4,[1,2,'three']]
l

[1, 2, 3, 4, [1, 2, 'three']]

In [70]:
l[-1][-1]

'three'

###### Contexto:

### Exercício:
A partir de três listas diferentes:

`[1, 2, 3]`

`[4, 5, 6]`

`[7, 8, 9]`

Crie uma lista que seja a soma delas e depois uma outra lista que contenha cada uma delas aninhadas como elementos. Imprima o comprimeto dessa lista.

###### Resposta:

In [86]:
l1 = [1, 2, 3]
l2 = [4, 5, 6]
l3 = [7, 8, 9]

l4 = l1 + l2 + l3
print(l4)

print("Nossa lista possui {x} elementos".format(x=len(l4)))

L5 = [l1, l2, l3]
print(L5)


L5[2][0] = "sete"
L5

#L5[2][0][0] = "v" # dá erro!!!!

[1, 2, 3, 4, 5, 6, 7, 8, 9]
Nossa lista possui 9 elementos
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

TypeError: 'str' object does not support item assignment

## For loop

#### Anotações

In [93]:
# Playground
L5

for item in L5[2][0]:
    item = item
    
    print(item)

s
e
t
e

### Exercício:
Dada a (grande) lista :

`[4, 61, 94, 57, 29, 82, 83, 77, 89, 43, 88, 74, 11, 2, 17, 61, 34, 33, 50, 90, 17, 17, 100, 6, 82, 79, 66, 48, 18, 34, 84, 87, 40, 16, 37, 80, 62, 46, 86, 100, 30, 80, 75, 49, 29, 93, 7, 81, 41, 89, 69, 80, 76, 62, 43, 59, 94, 45, 49, 34, 73, 92, 4, 86, 35, 47, 57, 77, 25, 91, 68, 45, 6, 35, 70, 75, 8, 87, 20, 33, 34, 3, 35, 67, 62, 73, 35, 51, 29, 40, 23, 93, 14, 35, 70, 94, 26, 37, 61, 48]`

Adicione 2 a todos os seus elementos

In [97]:
l1 = [4, 61, 94, 57, 29, 82, 83, 77, 89, 43, 88, 74, 11, 2, 17, 61, 34, 33, 50, 90, 17, 17, 100, 6, 82, 79, 66, 48, 18, 34, 84, 87, 40, 16, 37, 80, 62, 46, 86, 100, 30, 80, 75, 49, 29, 93, 7, 81, 41, 89, 69, 80, 76, 62, 43, 59, 94, 45, 49, 34, 73, 92, 4, 86, 35, 47, 57, 77, 25, 91, 68, 45, 6, 35, 70, 75, 8, 87, 20, 33, 34, 3, 35, 67, 62, 73, 35, 51, 29, 40, 23, 93, 14, 35, 70, 94, 26, 37, 61, 48]
l1
l2 = []

for item in l:
    l2 = l2 + [item + 2]
l2

print(len(l))

100

## List Comprehensions

#### Anotações

In [104]:
# Playground
l = [1,2,3,4,5,6]

l1 = []
for item in l:
    l1 = l1 + [item ** 2]
print(l1)
    
l2 = [item**2 for item in l]
print(l2)

[1, 4, 9, 16, 25, 36]
[1, 4, 9, 16, 25, 36]

### Exercício:
Dada a lista `[[1,2,3], [4,5,6], [7,8,9]]`, faça uma lista que contenha os elementos inversos e os elementos dos elementos inversos também. Formando: `[[9, 8, 7], [6, 5, 4], [3, 2, 1]]`

In [110]:
l1 =  [[1,2,3], [4,5,6], [7,8,9]]
l1
l2 = [item[::-1] for item in l1]
l2

l3 = l2[::-1]
l3

[[9, 8, 7], [6, 5, 4], [3, 2, 1]]

## Tuples

#### Anotações

In [116]:
## Playground
t = (1,2,3,4,5)
print(t)
l = [1,2,3,4,5]
print(l)

t = (1, 0)
t
um, zero = t

print(um)
print(zero)

(1, 2, 3, 4, 5)
[1, 2, 3, 4, 5]
1
0

### Exercício:

Dada a tupla 
$$(1,2,3,(1,2,3,("Tera","Data Science","Python")))$$

Use _indexing_ para extrair o elemento com strings e depois _unpacking_ para atribuir cada uma das strings às variáveis: **school**, **course**, **language**

In [124]:
t = (1,2,3,(1,2,3,("Tera","DataScience","Python")))
t
school, course, language = t[3][3]

print(school)
print(course)
print(language)

Tera
DataScience
Python

## Dicionários

#### Anotações

In [127]:
# Playground
my_dict = {'key1':(1,2,3),'key2':'value2'}
print(my_dict['key1'])

(1, 2, 3)

In [131]:
d1 = {'key1': 'value1', "key2": {'key11': "value11"}}
d1

{'key1': 'value1', 'key2': {'key11': 'value11'}}

### Exercício:
Dado o dicionário:

`{"k1":[1,2,{"k2":["fundo",{"muito fundo":[1,2,["olá"]]}]}]}`

Mude a string "olá" para "tchau" permanentemente.

In [133]:
d = {"k1":[1,2,{"k2":["fundo",{"muito fundo":[1,2,["olá"]]}]}]}
d

{'k1': [1, 2, {'k2': ['fundo', {'muito fundo': [1, 2, ['olá']]}]}]}

In [140]:
d["k1"][2]["k2"][1]["muito fundo"][2][0]

'olá'

## Sets, .remove() e set()

#### Anotações

In [150]:
# Playground
s = {1,2,3,4,5,6}
s
s = {1,2,2,2,3,2,3,32}
s

t = (1,1,2,2,3,4,5)
print(t)
s = set(t)
print(s)

(1, 1, 2, 2, 3, 4, 5)
{1, 2, 3, 4, 5}


### Exercício:

Imprima a quantidade de letras *não repetidas* que aparecem em:

`"Sets não suportam elementos repetidos"`

In [156]:
s = "Sets não suportam elementos repetidos"
s

l = list(s)
print(l)

print(set(s))
print(len(s))

['S', 'e', 't', 's', ' ', 'n', 'ã', 'o', ' ', 's', 'u', 'p', 'o', 'r', 't', 'a', 'm', ' ', 'e', 'l', 'e', 'm', 'e', 'n', 't', 'o', 's', ' ', 'r', 'e', 'p', 'e', 't', 'i', 'd', 'o', 's']
{'e', 'S', 'd', 'ã', 'o', 'u', 'a', 't', 'r', 'm', 'l', 'i', 's', ' ', 'n', 'p'}
37

## Booleans e Operadores lógicos

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td>(a != b) is true</td>
</tr>
<tr>
<td>&lt;&gt;</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a &lt;&gt; b) is true. This is similar to != operator.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

#### Anotações

In [160]:
# Playground
x = True
y = False
z = None

2 > 1

True

### Exercício:

Dadas duas listas de iguais dimensões:

lista 1:

`[9433350558631, 8245244932235, 9141901020068, 8750374987521, 6802147162500, 4239283658272, 7526832119867, 3753471506383, 7994538741511, 2593728520330, 4087860193316, 675375460762, 7912513483634, 7829100402452, 6189950500798, 7117685926781, 4416080698528, 3656359132591, 3671675824018, 9388106298637]`

e

lista 2:

`[1658956610286, 9936817335700, 1832416369709, 5133444471643, 6517702999134, 4910347392542, 1818467058583, 214439251738, 9028027313829, 4328203267963, 2281287297228, 4433225812320, 8996514403560, 210110149751, 2989134757511, 5829148318241, 9992158772938, 9359660637409, 3175887674162, 4378782232942]`

Qual das duas possui o maior décimo elemento?

In [164]:
l1 = [9433350558631, 8245244932235, 9141901020068, 8750374987521, 6802147162500, 4239283658272, 7526832119867, 3753471506383, 7994538741511, 2593728520330, 4087860193316, 675375460762, 7912513483634, 7829100402452, 6189950500798, 7117685926781, 4416080698528, 3656359132591, 3671675824018, 9388106298637]
l2 =[1658956610286, 9936817335700, 1832416369709, 5133444471643, 6517702999134, 4910347392542, 1818467058583, 214439251738, 9028027313829, 4328203267963, 2281287297228, 4433225812320, 8996514403560, 210110149751, 2989134757511, 5829148318241, 9992158772938, 9359660637409, 3175887674162, 4378782232942]

l2[10] < l1[10]

True

###### Referências

https://docs.python.org/3/reference/expressions.html#comparisons

## Operadores lógicos encadeados

#### Anotações

In [ ]:
# Playground

### Exercício:
Dada a expressão lógica:

`(((x > 2) and (x < 4)) or ((x > 1000) and (x < 1002)))`

Quais são os valores que retornam `True`?

In [169]:
# resposta 3 e 1001
x=3
((x > 2) and (x < 4)) or ((x > 1000) and (x < 1002))

True

## If, elif e else

#### Anotações

In [177]:
# Playground
x=151
if 150>x>120:
    print("x maior que 4")
elif x<10:
    print("x menor que 10")
else: 
    print("se não...")

se não...

### Exercício:

Dada uma lista crie um programa capaz atender as seguintes condições:

- Exibir a string `"Não há elementos repetidos"` apenas se não houver nenhum elemento repetido e a lista tiver **no máximo** 5 elementos.
- Exibir a string `"Há elementos repetidos"` apenas se houver **pelo menos um** elemento repetido e a lista tiver *no máximo* 5 elementos.
- Exibir a string `"A lista possui mais de 5 elementos"` se esse for o caso.

In [179]:
l = [1,2,3,4]
len(l) == len(set(l))
len(l)

4

## While loop

#### Anotações

In [183]:
# Playground
x = 0
while x < 10:
    print('iterando...')
    print(x)
    x+=1
    
while True:
    break

iterando...
0
iterando...
1
iterando...
2
iterando...
3
iterando...
4
iterando...
5
iterando...
6
iterando...
7
iterando...
8
iterando...
9

### Exercício:

A partir de qualquer número inteiro crie um programa capaz de contar quantos algarismos esse número possui. Se os dois primeiros algarismos dese número forem, respectivamente, `3` e `2` exiba a mensage `"Número não suportado"` antes do número de algarismos.

In [190]:
x = 23232323232100

counter = 0
while (x > 1):
    if x == 32:
        counter=""
        print("Número não suportado")
        break
    else:
        x = x // 10
        counter += 1
print(counter)

14

## Functions

#### Anotações

In [194]:
# Playground
def square(x):
    print(x ** 2)
#     print("entrei na função")

square(2)

l = [2,3,4,5,6]
len(l)

4

5

### Exercício:

## Built-in functions

#### Anotações

In [ ]:
# Playground

###### list()

In [ ]:
# Playground

### Exercício:

Crie uma lista a partir de uma tupla

In [196]:
t = (2,3,4,5)
t
list(t)

[2, 3, 4, 5]

###### map()

In [198]:
# Playground
def func(x):
    return x + 2 

l1 = [1,2,3,4,5]

list(map(func, l1))

[3, 4, 5, 6, 7]

### Exercício:
Crie uma função capaz de receber uma lista de números como parâmetro e retornar uma outra lista onde cada elemento corresponde ao quadrado do elemento da lista de entrada
De forma que:

$entrada = [ 1, 2, 3 ]$

$saida = [ 1^2, 2^2, 3^2 ] = [1, 4, 9]$

In [199]:
def func(x):
    return x ** 2 

l1 = [1,2,3]

list(map(func, l1))

[1, 4, 9]

###### filter()

In [202]:
# Playground

def func(x):
    return x >= 4

l1 = [2,3,4,6,7,3,2]

print(list(filter(func, l1)))

[4, 6, 7]

### Exercício:
Crie uma função capaz de receber uma lista de números como parâmetro retornar uma outra lista apenas com os elementos que são maiores que 5:

In [206]:
def func(x):
    return x > 5

def func1(l):
    return list(filter(func, l))

func1([2,3,4,6,7,3,42])

[6, 7, 42]

##### Referências:
https://docs.python.org/3.3/library/functions.html

## Lambda expressions

#### Anotações

In [ ]:
# Playground

### Exercício:
Subsitua os exercícios de `map()` e `filter()` por `Lambda Expressions`

## Trabalhando com arquivos

#### Anotações

In [ ]:
# Playground

###### .read()

##### .write()

## Exceções

#### Anotações

In [ ]:
# Playground

### Exercício:

Let's Git!

## Desafios

Write a Python function to check whether a string is pangram or not.

    Note : Pangrams are words or sentences containing every letter of the alphabet at least once.
    For example : "The quick brown fox jumps over the lazy dog"

Hint: Look at the string module

**Write a program that prints the integers from 1 to 100. But for multiples of three print "Fizz" instead of the number, and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".**

# Super Desafio

Criar o jogo da velha em Python

### Quero praticar mais!

###### http://codingbat.com/python
###### https://projecteuler.net/archives
###### http://www.codeabbey.com/index/task_list
###### https://www.reddit.com/r/dailyprogrammer/
###### http://www.pythonchallenge.com *